
/* GENERIC */
@import "generic/_normalize.css";

/* DESIGN TOKENS */
@import "design-tokens/_colors.css";
@import "design-tokens/_fonts.css";

/* LAYOUT */
@import "skeleton/_layout.css";

/* DESIGN TOKENS */
@import "design-tokens/_icons.css";


/* COMPONENTS */
@import "components/_cards.css";

.manage-menu-icons:before {
  color: var(--bluewood);
}

/* COMPONENTS */
@import "components/_nestable.css";

/* COMPONENTS */
@import "components/_tabs.css";

/* COMPONENTS */
@import "components/_tags.css";

/* COMPONENTS */
@import "components/_boxes.css";

/* COMPONENTS */
@import "components/_code-book.css";

/* ASSIGN STUDENT */
.assign-other-grades {
  float: left;
  width: 100%;
  margin-top:0;
}

.assign-other-grades .records {
  float: left;
  position: relative;
  top:15px;
  padding-left: 0;
  min-height: 40px;
  padding-right: 10px;
}

.assign-student {
  margin:20px 0;
}

.assign-student .card-title {
  height: auto;
}

.assign-student .card-box {
  margin: 0;
  padding: 15px 20px;
}

.assign-student  .el-tabs__nav {
  border:0 !important;
}

.assign-student .ed_tabs {
  border:1px solid var(--gray);
  border-radius: 8px;
  margin-bottom: 10px;
}

.assign-student .ed_tabs .el-tabs__content {
  padding: 0 10px;
}

.assign-student-table-header {
  height: 40px;
  position: absolute;
  top: 30px;
  z-index: 1;
}

.assign-student .el-table__body-wrapper {
  overflow: hidden !important;
}

.assign-student .el-tab-pane {
  overflow-x: scroll !important;
}

.assign-student .el-table {
  overflow: hidden;
  border:1px solid var(--gray);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.assign-student .el-checkbox {
  padding: 0 15px 0 5px; 
}

.assign-student .ed_tabs .el-tabs__nav .el-tabs__item:first-child .icon-close { 
  visibility: hidden;
  pointer-events: none;
}

.assign-select > span {
  margin-right: 10px;
}

.assign-student-all-students {
  width: 535px;
  padding-left: 30px;
  float: left;
}

.assign-student-all-days {
  width: 150px;
  padding-left: 30px;
  float: left;
}

.assign-student-single-day {
  width: 560px;
  float: left;
  min-height: 40px;
  padding: 0;
}

.assign-student-single-day > .el-checkbox {
  width: 100px;
  padding: 0 0 0 10px;
  margin-right: 0;
}

.assign-student-wrapper {
  position: relative;
  min-width: 1300px;
  overflow-x: scroll;
  width: 100%;
}

.assign-thursday {
  padding-left: 27px !important;
}

.assign-friday {
  padding-left: 34px !important;
}

.assign-student .el-table__body {
  width: 1300px !important;
}

/* MANAGE EMPLOYEE */
.manage-employee-modal .side-menu.single .side-menu-header {
  border-radius: 30px;
  display: block;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manage-employee-modal .side-menu.profile {
  border-radius: 30px;
}

.manage-employee-modal .side-menu.single .side-menu-profile {
  margin: auto;
  position: relative;
}

.manage-employee-modal .md-dialog-container {
  width: 90vw;
  max-width: 1024px;
}

/* LEAVE ENTRY EMPLOYEE */
.employee-entry .md-dialog-container {
  width:90vw;
  max-width: 1024px;
}

/* EDIT EMPLOYEE */
.edit-employee .el-upload {
  float: left;
}

.edit-employee .el-upload-list {
  float: left;
}

.edit-employee .card-picture {
  float: left;
}

.edit-employee .avatar-uploader {
  float: left;
  padding-left: 20px;
  margin-top: 40px;
}

.edit-employee .el-upload__tip {
  margin-top: 0;
  text-align: center;
}

/*EQUITY REPORT*/
.equity-report {
  padding: 40px ;
}

.equity-report .equity-report-title {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 20px;
}

.equity-report .equity-report-title-header {
  font-size: 18px;
  color: var(--white);
  line-height: 1.25;
  padding: 10px;
  padding-left: 20px;
  background-color: var(--primary);
}

.equity-report .equity-report-subtitle {
  font-size: 21px;
  color: var(--tertiary);
  width: 100%;
  margin-bottom: 20px;
  display: block;
  float: left;
}
.equity-report .equity-report-subtitle .equity-report-this-school-text {
  font-size: 14px;
  width: 100%;
  float: left;
  color: var(--bluewood);
}
.equity-report .equity-report-subtitle .equity-report-this-school-text b {
  font-size: 14px;
  float: right;
  text-align: right;
  color: var(--bluewood);
}
.equity-report .equity-report-subtitle .equity-report-city-text {
  font-size: 14px;
  width: 100%;
  float: left;
  color: var(--gray);
}
.equity-report .equity-report-subtitle .equity-report-city-text b {
  font-size: 14px;
  float: right;
  text-align: right;
  color: var(--gray);
}
.equity-report .equity-report-subtitle-sub {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 3px 0;
  color: var(--dark);
  background-color:rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.equity-report .student-report.progress-report > div {
  text-align: end;
}

.equity-report .student-report.progress-report > div.description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  line-height: 1.25;
  font-size: 15px;
}

.equity-report-quote {
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
  float: left;
  padding-top: 40px;
  color: var(--bluewood);
}

.equity-report-discipline:nth-child(even) {
  background-color: var(--bluegray);
}

.equity-report-discipline .equity-report-name {
  padding-top: 20px;
  padding-left: 20px;
}

.equity-report .student-report.progress-report {
  float: left;
  width: 100%;
}

.equity-report-empty-data {
  padding: 20px;
  display: block;
  text-align: center;
}

.equity-report .suspension-title {
  font-size: 15px;
}

/* CREATE ACCOUNT EMPLOYEE */
.modal-window.employee-account .el-form > div  {
  background-color:var(--white);
  padding: 10px 20px;
}

/* RECURRING SCHEDULE */
.recurring-schedule {
  margin-bottom: 20px;
}

.recurring-schedule .add-schedule {
  margin: 0 0 15px 0 !important;
  padding: 10px 20px;
  float: right;
}

.recurring-schedule .add-schedule .icon-add {
  padding-right: 5px;
  font-size: 18px;
}

.recurring-schedule-modal .week-days .el-tag {
  background-color: var(--green) !important;
}

.recurring-schedule-modal .week-days .el-tag .el-icon-close {
  background-color:  rgba(255, 255, 255, 0.5) !important;
}

.recurring-schedule-modal .week-days .el-tag .el-icon-close:hover {
  background-color:  rgba(255, 255, 255, 0.25) !important;
}

button.assign-view {
  float: right;
  padding: 8px 25px 8px 20px !important;
  margin: 5px 0 0 15px !important;
}

button.assign-view .icon {
  font-size:21px;
  padding-right:5px;
}

/* SEARCH PAGE */
.search-results {
  margin-bottom: 20px;
}

.search-results .card-box {
  padding: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-results .ed_card-boxes {
  margin-top: 10px;
}

.search-results .ed_card-boxes .card-title {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 10%;
  color: var(--white);
  height: 60px;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.search-results .ed_card-boxes .card-title h2 {
  max-width: 85%;
  line-height: 1.25;
  float: left;
  margin-top: 20px;
  font-size: 21px;
  font-weight: 700;
}

.search-results .ed_card-boxes .card-element {
  position: absolute;
  top: 200px;
  left: 36px;
  width: 80px;
}

.search-results .ed_card-boxes .card-element > span {
  margin: 0 5px;
}

.search-results .ed_card-boxes .edit-search {
  float: right;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  z-index: 5;
  font-size: 14px;
  background-color: var(--green);
  margin:5px 5px 5px 0;
}

.search-results .ed_card-boxes .delete-search .icon-delete:before {
  color: var(--white);
}

.search-results .ed_card-boxes .delete-search .icon-delete {
  top:6px;
}

.search-results .ed_card-boxes .delete-search {
  float: right;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  z-index: 5;
  font-size: 14px;
  background-color: var(--red);
  margin:5px 5px 5px 0;
}

.search-results .ed_card-boxes .edit-search .icon-edit:before {
  color: var(--white);
}

.search-results .ed_card-boxes .edit-search .icon-edit {
  top:6px;
}

.search-results .ed_card-boxes .card-content {
  padding-left:15px;
}

.search-results .ed_card-boxes .card-content ul {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
}

.search-results .ed_card-boxes .card-content ul > li {
  border-bottom: 0;
  padding: 8px 0 8px 5%;
  font-weight: 700;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
}

.search-results .ed_card-boxes .card-content ul > li > h3 {
  font-size: 15px;
  margin: 0;
  padding: 5px 5px 5px 0;
  width: 40%;
  position: relative;
}

.search-results .ed_card-boxes .card-content ul > li > h3:after {
  background: var(--lightgray);
  height: 1px;
  width: 30px;
  position: absolute;
  content: '';
  top: 20px;
  right: 10px; 
}

.search-results .ed_card-boxes .card-content .card-picture {
  float: left;
  width: 128px;
  display: flex;
  height: 128px;
  border-radius: 50%;
  position: relative;
  top:10px;
  background-color: var(--lightgray);
}

.search-results .ed_card-boxes .card-content figcaption {
  display: flex;
}


.search-results .el-select {
  margin-bottom: 10px;
}

.search-results .search-by {
  padding-left: 10px;
}

.search-results .el-input .icon-search {
  color: var(--white);
}

.search-results .el-input .el-button {
  background-color: var(--primary);
  outline: none;
}

.search-results .no-results {
  text-align: center;
  padding: 50px 0;
  width: 100%;
}

.search-results .card-element .icon-edit {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
  background-color: var(--green);
  right: 0;
  position: relative;
}

.search-results .card-element .icon-edit:before {
  color: var(--white);
}

.search-results .card-element .icon-eye {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 4px;
  font-size: 20px;
  background-color: var(--green);
  position: relative;

  top:3px;
}

.aside-box {
  background-color: var(--white);
  box-sizing: border-box;
  width: 100%;
  position: relative
}

.aside-box figure {
  overflow: hidden
}

.aside-box figure img {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1)
}

.aside-box figure a {
  height: 100%;
  display: block
}

.aside-box .item-content {
  cursor: pointer
}

.aside-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.aside-box .item-content {
  padding: 20px;
  bottom: 0;
  position: absolute
}

.aside-box .item-content h3 {
  color: var(--white);
  font-size: 18px;
  line-height: 1.2;
  padding: 10px 0;
  text-shadow: 1px 1px var(--dark)
}

.aside-box .item-content span {
  color: var(--white);
  text-shadow: 1px 1px var(--dark)
}

.aside-box .item-content .language {
  color: var(--white);
  font-size: 14px
}

.aside-box .item-content .date {
  color: var(--white);
  font-size: 14px
}

.ed_card-boxes.aside .card-content figure {
  margin: 0
}

.ed_card-boxes.aside .bootstrap-datetimepicker-widget {
  border-radius: 10px;
  padding: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 999;
  float: left;
}

body,
html {
  font-family: 'SF Pro Text', sans-serif !important;
  width: 100%;
  display: block;
  float: left;
  background-color: var(--background)!important;
  overflow-x: hidden;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

.theme-layout {
  min-height: 100vh;
  float: left;
  display: block;
  width: 100%;
  position: relative
}

.md-theme-default :not(input):not(textarea)::selection {
  background-color:var(--auxiliary);
}

.main-content {
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  min-height: calc(100vh - 105px);
  max-width: 1440px;
  margin: 0 auto;
}

.main-content  .container-fluid {
  z-index: 4;
}

.logo {
  position: relative;
  left: 0;
  top: 0;
  float: left;
  z-index: 5;
  display: flex;
  flex-basis: 150px;
  flex-shrink: 0
}

.logo img {
  margin-left: 0;
  margin-top: 0;
  height: 100px;
  position: relative;
  z-index: 2
}

.logo img:focus {
  outline: 0
}

.logo-shape {
  height: 80px;
  width: 80px;
  background-color: var(--primary);
  position: absolute;
  top: -8px;
  left: -10px;
  border-radius: 50%;
  z-index: 1
}

.header {
  width: 100%;
  display: flex;
  float: left;
  height: 60px;
  position: relative;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.sub-header {
  height: 45px;
  background-color: var(--white);
  display: block;
  padding: 0;
  margin-bottom: 2%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06);
  float: left;
  display: block;
  width: 100%
}

.sub-header ul {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 45px;
}

.sub-header ul li {
  line-height: 1;
}

.sub-header ul a {
  color: var(--tertiary) !important;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin-left: 8%
}

.sub-header div {
  position: relative;
}

.user-profile {
  flex-basis: 190px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  max-width: 190px;
  float: left
}

.user-profile .profile-tag {
  float: right;
  right: 30px;
  cursor: pointer;
  top: 0;
  padding: 6px 10px;
  height: 60px
}

.user-profile .profile-tag img {
  max-height: 44px;
  width: auto;
  border: 2px solid var(--white);
  border-radius: 50%
}

.user-profile .profile-tag img:first-child {
  margin-right: 10px;
  float: left
}

.user-profile .profile-tag span {
  color: var(--white);
  margin-top: 13px;
  font-size: 18px;
  font-weight: medium;
  display: inline-block
}

.user-profile .profile-tag img:last-child {
  width: 14px;
  margin-bottom: -2px;
  height: auto;
  object-fit: cover;
  text-align: right;
  margin-left: 20px
}

.user-profile .profile-tag .icon {
  padding: 5px;
  font-size: 14px
}

.user-profile:hover .user-menu {
  opacity: 1;
  z-index: 1111
}

.user-menu ul li:last-child {
  border-radius: 0 0 0 8px;
}

.user-profile .user-menu {
  border-radius: 0 0 0 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.user-menu {
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 0;
  z-index: -1;
  transition: all .25 ease-in-out
}

.user-menu a>.icon {
  padding: 5px;
  margin-right: 5px;
}

.user-menu a>.icon:before {
  color: var(--bluewood)
}

.user-menu ul li {
  display: block;
  background-color: var(--white);
  width: 100%;
  padding: 8px 0;
  transition: all .25 ease-in-out;
  border-bottom: 1px solid var(--lightgray)
}

.user-menu ul li:hover {
  background-color: var(--bluegray)
}

.user-menu ul li a {
  color: var(--bluewood);
  display: block;
  padding: 20px;
  font-size: 14px;
  padding: 5px 20px;
  font-weight: 500;
  text-decoration: none
}

.user-menu ul li a span {
  color: var(--bluewood);
}

.user-menu ul li a:hover {
  color: var(--bluewood);
}

.user-menu ul li img {
  margin-bottom: -2px;
  width: 16px;
  margin-right: 10px;
  height: auto;
  object-fit: cover
}

.main-menu {
  display: flex;
  float: left;
  flex-grow: 1
}

.dashboard-menu {
  display: block;
  float: left;
  position: relative;
  max-height: 60px;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.dashboard-menu > ul {
  margin-bottom: 0;
}

.dashboard-menu ul li img {
  width: 14px;
  height: auto;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: -1px
}

.dashboard-menu>ul li {
  display: inline-block;
  font-weight: 500;
  padding: 22px 0;
  margin-right: 18px;
  font-size: 16px;
  line-height:1;
}

.dashboard-menu>ul li a {
  position: relative
}

.dashboard-menu>ul>li>a {
  color: var(--white)!important;
  font-weight: 700;
  text-decoration: none
}

.dashboard-menu>ul>li>a>.icon {
  color: var(--white);
  padding: 5px;
  font-size: 14px
}




/* COMPONENTS  */
@import "components/_megamenu.css";

/* COMPONENTS  */
@import "components/_mobile-menu.css";





.side-menu-header {
  padding: 10px;
  max-height: 100px;
  height: 100px;
  border-radius: 30px 0 0 0;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.side-menu.single .side-menu-profile .card-element {
  top:40px;
}

.side-menu.single .side-menu-options {
  position: relative;
  height: 30px;
  background-color: var(--primary);
}

.side-menu.single .side-menu-options .card-element {
  position: relative;
  top: auto;
  right: auto;
  padding: 3px 0;
}

.side-menu.single .side-menu-options .card-element a {
  color: var(--white);
  font-size: 14px;
  float: right;
  margin-right: 10px;
  padding: 2px;
  display: block;
}

.side-menu.single .side-menu-options .card-element a span {
  margin-left: 5px;
}

.side-menu.single .side-menu-profile .card-element a {
  color: var(--white);
  font-size: 14px;
  padding: 10px;
  float: right;
}

.side-menu.single .side-menu-profile .card-element a span {
  margin-left: 5px;
  color: var(--white);
}

.side-menu.single .side-menu-content {
  background-color: var(--white);
  float: left;
}

.side-menu.single .side-menu-header {
  border-radius: 30px 30px 0 0;
}

.side-menu.single .side-menu-content {
  border:1px solid var(--gray);
  border-radius: 0 0 15px 15px;
  padding: 15px !important;
}

.side-menu.single .side-menu-content .card-title h2 {
  font-size: 21px;
}

.side-menu.single .side-menu-content .card-content {
  font-size: 14px;
}

.side-menu.single .card-box {
  border-bottom: 1px solid var(--gray);
  padding: 25px 10px 10px 10px;
  position: relative;
  float: left;
  width: 100%;
}

.side-menu .side-menu-header h2 {
  width: calc(100% - 100px);
  margin-bottom: 0;
}

.side-menu.single .card-box:last-child {
  border-bottom: none;
}

.side-menu.single .side-menu-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu.single .card-element {
  position: absolute;
  right: 20px;
  top: 20px;
}

.side-menu.single .card-element .edit .icon {
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
}

.home-room .el-form-item {
  padding: 0;
}

.home-room .el-form-item .icon-arrow {
  right: 12px;
  top: 54px;
}

.side-menu-header img {
  height: 80px;
  display: flex;
  float: left;
  border-radius: 50%;
  border: 2px solid var(--white)
}

.student-list .el-table {
  margin-top:10px;
}

.student-list .el-select .el-input {
  width:100px;
}

.student-list .student-list-search {
  left: 0;
  top: 0;
  background-color: var(--tertiary) !important;
  padding: 12px;
}

.student-list .records {
  padding-left: 10px;
  position: absolute;
  top:10px;
}

.student-list .student-list-preview {
  float: left;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: relative;
  outline: none !important;
}

.student-list .student-list-preview:hover {
  cursor: pointer;
}

.student-list .student-list-preview > .icon {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 4px;
  font-size: 20px;
  background-color: var(--tertiary);
  position: relative;
  right:10px;
  top:4px;
}

.student-list .student-list-preview > .icon:before {
  color: var(--white);
}

.student-list .student-list-edit {
  float: right;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: relative;
  left:10px;
  outline: none !important;
  background-color: transparent !important;
}

.student-list .student-list-edit:hover {
  cursor: pointer;
}

.student-list .student-list-edit > .icon {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
  background-color: var(--green);
  right: 20px;
  position: relative;
  top:4px;
}

.student-list .student-list-edit > .icon:before {
  color: var(--white);
}

.student-list .change-view {
  float: right;
  margin: 2px 0 10px 10px !important;
}

.student-list .change-view.menu-list {
  padding: 6px 25px;;
}

.student-list .change-view .icon-menu-list {
  font-size: 22px;
}

.student-list .change-view.upload {
  padding: 5px 25px;
}

.student-list .change-view.upload .icon {
  font-size: 24px;
}

.student-list .search-results {
  margin-top:10px;
}

.student-list .search-results.avatar-view .student-list-preview > .icon {
  left: 8px;
  right: 0;
}

.search-results.avatar-view-search .student-list-preview {
  position: absolute;
  left: 7px;
  top: -7px;
}

.search-results.avatar-view-search .student-list-edit {
  position: absolute;
  right: 6px;
}

.student-list .search-results .student-list-edit .icon-edit {
  right:7px;
  top:7px;
}

.student-list .search-results .student-list-preview.edit-student-list {
  position: absolute;
  top:0;
}

.student-list .search-results .ed_card-boxes .card-content ul > li {
  padding: 3px 0 3px 5%;
}

.student-list .search-results .card-element {
  bottom: auto !important;
  top:195px;
  width:68px;
}

.student-list .search-results .card-content-days {
  color: var(--white);
  font-size: 11px !important;
  padding: 2px 8px !important;
  margin:3px;
  background-color: var(--primary);
  border-radius: 10px;
  width: auto !important;
  margin: 2px;
}

.student-list .el-icon-arrow-up {
  font-size: 10px;
  right: 5px;
  position: relative;
  top:2px;
}

.student-list.attendance .search-results {
  padding: 20px 0 !important;
}

.student-list.attendance .attendance-bottom {
  position: relative;
  background-color: transparent;
}

.student-list.attendance .attendence-save-changes {
  position: absolute;
  margin: 0 auto !important;
  left: 0;
  right: 0;
  top: 15px;
}

.student-list.attendance .attendance-list-avatar {
  display: inline-block !important;
  padding: 5% 5% 0 5% !important;
}

.student-list.attendance .attendance-list-avatar.selection {
  padding-top: 0 !important;
}

.student-list.attendance .attendance-list-avatar.selection .el-form-item {
  margin-bottom: 5px;
}

.student-list.attendance .attendance-list-avatar.selection .el-form-item .el-input {
  width:100% !important;
}

.student-list.attendance .attendance-list-avatar > h3 {
  margin-bottom: 5px !important;
}

.student-list.attendance .attendance-list-avatar > h3:after {
  display: none;
}

.student-list.attendance .upload-document .card-box {
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.student-list.attendance .upload-document .upload span {
  margin-right: 15px;
  margin-left: 15px;
}

.student-list.attendance .el-icon-arrow-up:before {
  content: "\e901";
  color: var(--mediumgray) 
}

.student-list.attendance .download-button {
  background-color: var(--bluewood) !important;
  padding:5px 25px ;
}

.student-list.attendance .download-button .icon-download-excel {
  font-size: 24px;
  padding-right: 5px;
}

.student-list.attendance .date-select {
  float: left;
  margin-bottom: 15px;
}

.student-list.attendance .date-select .icon-box-plan {
  position: absolute;
  left: 27px;
  top: 12px;
  font-size: 14px;
  z-index: 1;
}

.student-list.attendance .date-select .icon-box-plan:before {
  color: var(--bluewood);
}

.student-list.attendance .date-select .el-input {
  width: 200px;
}

.student-list.attendance .records-input .el-input {
  width: 100px;
}

.student-list.attendance .records-input .el-icon-arrow-up {
  display: none;
}

.student-list.attendance .el-table {
  padding: 0 20px;
}

.student-list.attendance .el-select .el-input {
  width: 100%;
}


.student-list.attendance  .el-table__body-wrapper .el-table__row td:last-child {
  padding-right: 40px;
}


/* COMPONENTS */
@import "components/_records.css";


/* STUDENT DETAILS */
.student-details .side-menu-profile {
  width: 100%;
}

.student-details .side-menu__results {
  width: 100%;
}

.student-details .side-menu__results .el-tabs {
  width: 100%;
  padding: 0 15px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top:0;
}

.student-details .side-menu__results .card-box {
  padding: 0;
  margin-top: 0;
  margin: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.student-details .profile-list li {
  padding: 10px;
}

.student-details .profile-list li:nth-child(odd) {
  background-color: var(--bluegray);
}

.student-details .profile-list li span {
  float: right;
  font-size: 14px;
  color: var(--primary);
}

.student-details .student-details-behaviour {
  margin: 0 15px;
}

.student-details .student-details-behaviour .student-list-preview > .icon {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 4px;
  font-size: 20px;
  background-color: var(--green);
  position: relative;
  right: 10px;
  top: 4px;
}

.student-details .student-details-behaviour .student-list-preview {
  float: left;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: relative;
}

.student-details .student-details-behaviour .student-list-preview > .icon:before {
  color: var(--white);
}

.student-details .side-menu-header h2 {
  font-size: 18px !important;
}

.student-details .side-menu-content .card-box {
  padding: 0;
}

.student-details .side-menu-content .card-content button {
  width: 100%;
}

.student-details .side-menu-content .card-content button .icon {
  padding: 5px;
  font-size: 15px;
}

.student-details .side-menu-content .card-content button > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.student-details.modal-window .modal-content {
  padding: 30px 20px;
}
.student-details.modal-window .modal-content > div {
  min-width: 840px;
}
.student-details.modal-window .profile-list {
  padding: 0;
}
.student-details.modal-window .profile-list li {
  height: 100px;
  font-size: 14px;
}
.student-details.modal-window .profile-list li span {
  font-size: 12px;
}
.student-details.modal-window .profile-list .center {
  text-align: center;
  width: 100%;
}
.student-details.modal-window .profile-list > h2 {
  position: absolute;
  top: -20px;
  font-size: 14px;
  left: 10px;
}
.student-details .line-chart-performance {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  padding: 0 15px;
}
.student-details .line-chart-performance h2 {
  font-size: 18px;
  text-align: center;
}
.student-details .line-chart-performance #line-chart {
  height: 220px;
  min-height: 220px;
}
.student-details .performance-button {
  width: 100%;
}
.student-details .attendance {
  margin-bottom: 20px;
}
.student-details .attendance ul li {
  border-bottom: 0;
}
.student-details .attendance ul li:nth-child(odd) {
  background-color: var(--bluegray);
}
.student-details .attendance .card-title {
  font-size: 16px;
  padding: 10px 15px;
  margin-bottom: 0;
}
.student-details .attendance .card-content ul li {
  position: relative;
  padding: 10px 15px;
}
.student-details .attendance .card-content ul li h3{
  font-size: 14px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}
.student-details .attendance .card-content ul li h3:after {
    background: var(--lightgray);
    height: 1px;
    width: 30px;
    position: absolute;
    content: '';
    top: 8px;
    right: 10px;
}
.student-details .attendance .card-content ul li span {
  font-size: 14px;
  width: 50%;
  position: relative;
}
.student-details .attendance .card-box .icon {
  position: absolute;
}
.student-details .attendance .card-box {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-height: 160px;
}
.student-details .abssence-reason-table {
  margin-top: 25px;
}
.student-details .abssence-reason-table h2 {
  font-size: 18px;
}
.student-details .side-menu.profile {
  margin-bottom: 20px;
}
.student-details .el-table {
  padding: 0;
}
.student-details .abssence-reason-table #line-chart {
  min-height: 300px;
}

.student-report .el-table {
  margin: 0 15px 15px 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.student-report .student-report-title {
  font-size: 24px;
  color: var(--primary);
}
.student-report .student-report-subtitle {
  font-size: 21px;
  color: var(--tertiary);
}
.student-report .student-report-header {
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
  color: var(--white);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.student-report .student-report-footer {
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align:right;
  margin-bottom: 30px;
}
.student-report #line-chart {
  height: 400px;
}
.student-report .student-report-chart-table {
  margin: 0 0 20px 0;
}
.student-report .student-report-header.inside {
  margin-top: 20px !important;
}
.student-report .student-information {
  padding: 0 15px 25px 15px;
}
.student-report .card-box {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  margin: 0 0 20px 0;
  border-radius: 0 0 10px 10px;
}
.student-report.progress-report {

}
.student-report.progress-report .el-table {
  border-radius: 0;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 0 !important;
  border-left:1px solid var(--gray);
  border-right:1px solid var(--gray);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.student-report.progress-report .el-table .el-table__header-wrapper table tr th:first-child {
  padding-left: 20px;
}
.student-report.progress-report .el-table .el-table__body-wrapper table tr td:first-child {
  padding-left: 20px;
}
.student-report.progress-report .table-row:last-child .el-table {
  border-radius: 0 0 8px 8px !important;
  margin-bottom: 20px !important;
  border-bottom:1px solid var(--gray);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.student-report.progress-report .report-table-header {
  border-left:1px solid var(--gray);
  border-right:1px solid var(--gray);
  float: left;
  text-indent: 15px;
  padding: 10px 15px;
  margin: 0 15px;
  width: 100%;
  max-width: calc(100% - 30px);
  background-color: var(--bluegray);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.student-report.progress-report .skills {
  width: 100%;
  height: 80px;
  margin: auto;
  position: relative;
}
.student-report.progress-report .skills.integer {
  height: 50px;
}
.student-report.progress-report .lines {
  height: 80%;
  position: relative;
}
.student-report.progress-report .line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}
.student-report.progress-report .line.l--0 {
  left: 0;
}
.student-report.progress-report .line.l--25 {
  left: 25%;
}
.student-report.progress-report .line.l--50 {
  left: 50%;
}
.student-report.progress-report .line.l--75 {
  left: 75%;
}
.student-report.progress-report .line.l--100 {
  left: calc(100% - 1px);
}
.student-report.progress-report .line__label {
  display: block;
  width: 100px;
  font-size: 8px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
  color:var(--gray)
}
.student-report.progress-report .line__label.title {
  text-transform: uppercase;
  font-weight: bold;
}
.student-report.progress-report .charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.student-report.progress-report .charts.double .chart__bar {
  height: 25px;
  margin-bottom: 0;
}
.student-report.progress-report .charts.double .chart__bar.strong .chart__label{
  font-size: 15px;
  left: 22px;
  position: relative;
  bottom: 1px;
}
.student-report.progress-report .charts.double .charts-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--gray);
  height:80px;
  font-size: 16px;
}
.student-report.progress-report .chart:not(:first-child) {
  margin-top: 10px;
}
.student-report.progress-report .chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: 0s anim-lightspeed-in ease forwards;
}
.student-report.progress-report .chart--prod .chart__title {
  animation-delay: 3.3s;
}
.student-report.progress-report .chart--design .chart__title {
  animation-delay: 4.5s;
}
.student-report.progress-report .chart--horiz {
  overflow: hidden;
}
.student-report.progress-report .chart.chart--dev {
  position: relative;
  top:10px;
}
.student-report.progress-report .chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: var(--tertiary);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 0s anim-lightspeed-in ease forwards;
  width: 0;
}
.student-report.progress-report .chart__bar.blue{
  background: var(--tertiary) !important;
}
.student-report.progress-report .chart__bar.green{
  background: var(--green) !important;
}
.student-report.progress-report .chart__bar.gray{
  background: var(--gray) !important;
}
.student-report.progress-report .chart__bar.dark{
  background: var(--dark) !important;
}
.student-report.progress-report .chart__bar.lavender{
  background: var(--lavender) !important;
}
.student-report.progress-report .chart__label {
  padding-left: 5px;
  font-size: 11px;
  line-height: 30px;
  float: right;
  color: var(--dark);
  margin-right: -40px;
}
.student-report.progress-report .chart__label.integer {
  margin-right: -20px;
}
.student-report.progress-report.half {
  width: 50%;
  float: left;
  margin: 0;
}
.student-report.progress-report.half .double-bar .skills {
  height: 110px;
}
.student-report.progress-report .double-bar .skills {
  height: 110px;
}
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
 }
  100% {
    transform: translateX(0);
    opacity: 1;
 }
}
.student-report.progress-report .document-uploaded {
  margin-bottom: 5px !important;
}
.modal-window .student-report.progress-report {
  overflow-y: scroll;
  padding-top:80px;
}
.pmf-download-modal .modal-content {
  padding-top: 0;
}
.modal-window .document-uploaded {
  position: absolute;
  top:18px;
  width:170px;
}

/* MANAGE EMPLOYEE */
.manage-employee .add-custom-standard {
  margin-bottom: 10px !important;
}

.manage-employee .element .icon-download-excel.icon {
  margin-top:0 !important;
}

.manage-employee .element .icon-download-pdf-document.icon {
  margin-top:0 !important;
}

.manage-employee .icon-menu-list {
  font-size: 22px;
}

.manage-employee .change-view.menu-list {
  padding: 6px 25px;
}

.manage-employee  .attendance-list-avatar {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-box !important; 
}

.manage-employee  .attendance-list-avatar > span {
  word-break: break-all;
  width: 50%;
  display: block;
}

.manage-employee  .search-results .card-title h2 {
  max-width:100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 60px;
  margin-top:0;
} 

/* EDIT EMAIL TEMPLATE */
.edit-email-template .modal-content {
  padding: 0 15px !important;
}
.edit-email-template .modal-content > div {
  padding:15px 0;
}
.edit-email-template .modal-content > div:nth-child(even) {
  background-color: var(--bluegray);
}
.edit-email-template > h2 {
  font-size: 16px;
}
.edit-email-template ul li {
  font-size: 14px;
}
.edit-email-template .el-tag {
  margin-right: 10px !important;
  margin-left: 0 !important;
}
.edit-email-template .md-dialog-actions .button {
  margin-left: 15px !important;
}

/* TEACHER PROFILE */
.teacher-profile > div {
  padding: 10px 0 !important;
}

.teacher-profile .profile {
  margin-bottom: 15px;
}

.teacher-modal .modal-content {
    min-width: 290px;
}

.teacher-modal .modal-content img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.teacher-profile .side-menu.profile .side-menu-header {
  border-radius: 30px 30px 15px 15px;
}

/* ADD/EDIT EMPLOYEE */
.add-edit-employee .el-form-item {
  padding: 20px !important;
  background-color: var(--white) !important;
}

.add-edit-employee .card-picture {
  float: left;
}

.add-edit-employee .avatar-uploader .el-upload__tip {
  text-align: center;
}

/* CHANGE PASSWORD */
.change-password {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 600px;
}

.change-password .title {
  padding: 0 15px;
  font-size: 20px;
}

.change-password .card-box {
  padding: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.change-password .card-box .card-content {
  padding: 20px 25px;
  display: inline-block;
}

.change-password .el-form > div {
  padding: 0;
}

/* FEEDBACK LIST */
.feedback-list .md-dialog-container {
  max-width: 1024px;
} 

.feedback-list .el-table {
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  border:1px solid var(--gray)
}

.feedback-list .el-form .el-form-item__content {
  position: relative;
}

.feedback-list .el-form .el-upload .el-button {
  margin: 0 !important;
}

.feedback-list .el-form .icon-box-plan {
  position: absolute;
  bottom: 15px;
  top: auto;
  left: 10px;
}

.feedback-list .search-feedback {
  margin-bottom: 15px;
}


.feedback-list .behavioural-report > li {
  float: left;
  width: 28px;
  height: 28px;
  position: relative;
  right: 5px;
  margin-left: 5px;
}

.feedback-list .behavioural-report > li > .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 16px;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--bluewood);
}

.feedback-list .behavioural-report > li:hover {
  cursor: pointer;
}

.feedback-list .behavioural-report > li.behavioural-report-view > .icon {
  background-color: var(--tertiary);
}

.feedback-list .behavioural-report > li.behavioural-report-edit > .icon {
  background-color: var(--green);
  font-size: 14px;
  padding: 7px;
}

.feedback-list .behavioural-report > li.behavioural-report-edit > .icon::before {
  color: var(--white);
}

.feedback-list .behavioural-report > li.behavioural-report-follow-up > .icon {
  background-color: var(--tertiary);
}

.feedback-list .behavioural-report > li.behavioural-report-list > .icon {
  background-color: var(--tertiary);
}

.feedback-list .behavioural-report > li.behavioural-report-delete > .icon {
  background-color: var(--red);
}

.feedback-list .behavioural-report > li.behavioural-report-delete > .icon::before {
  color: var(--white);
}

/* STUDENT BEHAVIOUR */
.student-behaviour-preview {
  background-color: var(--white) !important;
  margin-top: 40px;
  border: 1px solid var(--gray) !important;
}

.document-download li {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 10px;
}

.document-download li.download-pdf {
  background-color: var(--red);
  border-radius: 50%;
}

.document-download li.download-pdf .icon {
  padding: 7px;
  font-size: 15px;
  color: var(--white);
  position: absolute;
}

.document-download li.send-email {
  background-color: var(--primary);
  border-radius: 50%;
}

.document-download li.send-email .icon {
  padding: 7px;
  font-size: 14px;
  position: absolute;
}

.document-download li.send-email .icon:before {
  color: var(--white);
}

.student-behaviour-table {
  border:1px solid var(--gray);
  border-radius:10px;
  margin-bottom: 20px;
}

.student-behaviour-table ul li:last-child {
  border-radius: 0 0 10px 10px;
}

.student-behaviour-table .profile-list {
  overflow: hidden;
  border-radius: 8px;
}

/* PMF DATA */
.pmf-report .download-text {
  padding: 3px 10px;
  white-space: nowrap;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-pmf .nestable > .nestable-list {
  padding-right: 0;
}

.download-pmf .nestable {
  display: inline-table;
  width:100%;
  padding: 0;
}

.download-pmf .nestable > .nestable-list {
  display: inline-table;
  width: 100%;
}

.download-pmf .modal-content {

  overflow-x: hidden;
  overflow-y: scroll;
}

.download-pmf .left-menu .element {
  position: absolute;
  right: 10px;
  margin: auto;
  top: 0;
  bottom: 0;
}

.download-pmf .left-menu .element-title {
  float: left;
  padding-right: 45px;
  padding-left:5px;
  width:100%;
  line-height: 1.5;
  padding-top:5px;
}

.download-pmf .right-menu .element {
  position: absolute;
  top: 0;
  bottom:0;
  margin: auto;
  left: 10px;
}

.download-pmf .right-menu .element-title {
  float: left;
  padding-left: 45px;
  width:100%;
  line-height: 1.25;
  padding-top:5px;
}

.download-in-progress {
  width:1000px;
}

/* COMPONENTS */
@import "components/_side-menu.css";

/* COMPONENTS */
@import "components/_search.css";


/* DESIGN TOKENS */
@import "design-tokens/_modals.css";

/* Infinite scroll */
.infinite-scroll {
  width: 100%;
}

/* Image upload */
.document-uploaded {
  float: left;
}

.document-uploaded .icon {
  font-size: 34px;
  float: left;
  border-radius: 50%;
}

.document-uploaded .document-name {
  font-size: 14px;
  padding-left: 5px;
  color: var(--white);
  padding: 6px 10px;
  display: inline-block;
}

.document-uploaded .icon-download-powerpoint {
  background-color: #cc644b;
}

.document-uploaded .icon-download-excel {
  background-color: var(--green);
}

.document-uploaded li {
  background-color: var(--bluewood);
  border-radius: 30px;
  padding: 5px;
  float: left;
  margin:0 10px 5px 0;
}

.document-uploaded li a {
  color: var(--white) !important;
}

.document-uploaded li:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
}

.document-uploaded li:hover a {
  color: var(--white) !important;
}

/* COMPNENTS */
@import "components/_expand-panel.css";



/* DESIGN TOKENS */
@import "design-tokens/_buttons.css";


.filter-card {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: var(--white);
  display: inline-block;
  width: 100%;
  padding: 20px 15px;
}

.filter-card .icon {
  padding: 10px;
}

.filter-card .md-menu {
  margin-left: 20%;
}

.filter-card .md-menu > a {
  color: var(--primary) !important;
}

.filter-card .el-form-item {
  margin-bottom: 0;
}

.filter-card .icon-arrow {
  top:6px !important;
}

.filter-card .el-form > div {
  padding: 0;
}

.single-lesson .collapsible {
  max-height: 200px;
  overflow:hidden;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.single-lesson .collapsible p {
  margin-bottom: 40px;
}

.single-lesson .collapsible.active {
  max-height: initial;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.single-lesson .collapsible.active .expand-panel {
  -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
  -moz-box-shadow: 0 0 0 0 rgba(255,255,255,1);
  box-shadow: 0 0 0 0 rgba(255,255,255,1);
}

.single-lesson .collapsible.active .expand-panel > .icon {
  transform: rotate(180deg);
}

.footer {
  display: block;
  bottom: 0;
  float: left;
  width: 100%;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.copyright p {
  color: var(--white);
  font-size: 14px;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 0;
}


/* CUSTOMIZATIONS */
@import "customizations/_bootstrap-date-time-picker.css";


.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: var(--white)!important;
  fill: #fff!important;
  stroke: #fff!important;
  transform: scale(.75);
  top: 40%
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 0
}

/* UI TABLE ELEMENT */
.el-table {
  padding: 0 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.el-table thead .el-checkbox {
  padding: 0 8px;
  text-align: center;
  margin: auto;
}

/* CUSTOMIZATIONS */
@import "customizations/_jqx.css";

/* DESIGN TOKENS */
@import "design-tokens/_scrollbar.css";

/* CUSTOMIZATIONS */
@import "customizations/_material.css";


/* Dropzone */
.vue-dropzone>.dz-preview .dz-remove {
  background:var(--red);
  color:var(--white);
  border: 0;
  border-radius: 20px;
  font-size: 11px;
}

.vue-dropzone>.dz-preview .dz-remove:hover {
  opacity: 0.85;
  color:var(--white);
  background:var(--red);
}

/*
Wizard
*/
.wizard-header {
  display: none;
}
.vue-form-wizard .wizard-nav-pills {
  top:-4px;
  max-height: 108px;
  height:108px;
  border-radius: 30px 30px 0 0;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
}
.vue-form-wizard .wizard-nav > li:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 76px;
  top:-10px;
  right: 0;
  background: var(--background);
  transform: rotate(-45deg);
}
.vue-form-wizard .wizard-nav > li:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 75px;
  bottom:-10px;
  right: 0;
  background: var(--background);
  transform: rotate(45deg);
}
.vue-form-wizard .wizard-nav > li:last-child::before,
.vue-form-wizard .wizard-nav > li:last-child::after
{
  display: none;
}
.vue-form-wizard .wizard-icon-circle .wizard-icon-container {
  background-color: transparent !important;
  outline: none;
}
.vue-form-wizard .wizard-icon-circle.tab_shape {
  background-color: transparent !important; 
}
.vue-form-wizard .wizard-nav-pills .stepTitle {
  color: var(--secondary) !important;
  max-height: 24px;
}
.vue-form-wizard .wizard-nav-pills .stepTitle.active {
  color: var(--white) !important;
}
.vue-form-wizard.md .wizard-nav-pills>li>a .wizard-icon {
  width: 64px;
  background-color: var(--auxiliary);
  font-size: 21px !important;
}
.vue-form-wizard.md .wizard-nav-pills>li>a .wizard-icon:before {
  color: var(--white);
}
.vue-form-wizard.md .wizard-nav-pills>li.active>a .wizard-icon {
  width: 58px;
  background-color: var(--tertiary);
  outline: none;
}
.vue-form-wizard .wizard-icon-circle {
  background-color: var(--white);
  border-color: var(--white) !important;
}
.vue-form-wizard .wizard-nav>li {
  padding: 10px 0;
}
.vue-form-wizard .wizard-nav>li>a {
  z-index: 1;
}
.vue-form-wizard .wizard-tab-content {
  padding: 0;
  min-height: 100px;
}
.vue-form-wizard .wizard-card-footer {
  margin-top:20px;
}
.vue-form-wizard.md .wizard-icon-circle {
  height: 64px;
  width: 64px;
}
.vue-form-wizard.md .wizard-icon-circle:focus {
  outline: none;
}
.vue-form-wizard .el-upload > button {
  padding: 5px 25px;
}
.vue-form-wizard .navbar .navbar-nav>li>a.wizard-btn, .vue-form-wizard .wizard-btn {
  border-radius: 30px;
  padding: 12px 25px;;
}
.vue-form-wizard .el-form-item__content .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.vue-form-wizard .avatar-image .el-form-item__content {
  margin: 0 auto;
  text-align: center;
}

.el-form  .card-select {
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
}
.el-form .icon-box-plan {
  left: 10px;
  top: auto;
  bottom: 14px;
  font-size: 12px !important;
  position: absolute;
  z-index: 1;
  padding: 0 !important;
  width: 25px !important;
}

.el-form .icon-box-plan:before {
  color: var(--bluewood);
}

.el-form .icon-arrow {
  position: absolute;
  bottom: 14px;
  font-size: 12px !important;
  padding: 0 !important;
  z-index: 1;
  float: revert;
  right: 0;
  width: 25px !important;
  top: auto;
}

.el-form .icon-arrow::before{
  color: var(--bluewood);
}
.el-form-item__label {
  margin: 0;
  line-height: 1.25;
  width: 100%;
  text-align: left !important;
}
.el-form > div {
  padding: 20px 30px;
}

.el-form > div:nth-child(even){
  background-color: var(--bluegray);
}

.el-form .el-select {
  width: 100%;
}

/* DESIGN TOKENS */
@import "design-tokens/_date-pickers.css";

/*
Scrollbar
*/
.el-scrollbar__wrap {
  max-width: 95vw;
}


/* DESIGN TOKENS */
@import "design-tokens/_popovers.css";

/* DESIGN TOKENS */
@import "design-tokens/_actions.css";


/* COMPONENTS */
@import "components/_pagination.css";


/* Helpers */
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.element-select {
  position: relative;
  float: left;
  margin:5px 0 10px 0;
}
.element-select .icon-arrow {
  position: absolute;
  top:14px;
  right: 10px;
  font-size: 14px;;
}
.element-select .icon-arrow::before {
  color: var(--bluewood);
}

/* Preloader */
.preloader {
  width:100%;
  display: flex;
}

.preloader > span {
  margin: 0 auto;
  font-size: 14px;
}

.preloader img {
  width:40px;
  margin:0 auto;
  padding: 20px 0;
  position: relative;
  text-align: center;
  right:5px;
}

.preloader-lesson {
  padding: 20px 10px 20px 30px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  margin: 0px 15px;
}

.preloader-lesson > img {
  width: 100%;
}

/* add-custom-standard */
.add-custom-standard {
  position: relative;
  float: right;
}

.add-custom-standard > span {
  padding-left: 10px;
}

.add-custom-standard > .icon {
  font-size: 25px;
  height: 25px;
  width: 25px;
  text-align: center;
}

.add-lesson-plan {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 36px;
  width: 36px;
  padding: 0;
  background-color: var(--tertiary) !important;
}

.add-lesson-plan:hover {
  background-color: var(--tertiary) !important;
  opacity: 0.85;
}

.add-lesson-plan > .icon {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
  padding: 0 !important;
  margin: auto;
  text-align: center; 
}

.chart-legend {
  float: right;
  width: 100%;
  margin: 20px 0;
}

.chart-legend .blue {
  float: right;
  position: relative; 
  margin-left: 40px;
}

.chart-legend .blue:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--tertiary)
}

.chart-legend .red {
  float: right;
  position: relative; 
  margin-left: 40px;
}

.chart-legend .red:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--red)
}

.chart-legend .green {
  float: right;
  position: relative; 
  margin-left: 40px;
}

.chart-legend .green:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--green)
}

.chart-legend .gray {
  float: right;
  position: relative; 
  margin-left: 40px;
}

.chart-legend .gray:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--gray)
}

.chart-legend .dark:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--dark)
}

.chart-legend .dark:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--dark)
}

.chart-legend .lavender {
  float: right;
  position: relative; 
  margin-left: 40px;
}

.chart-legend .lavender:before {
  top:2px;
  content:'';
  width:15px;
  height: 15px;
  position: absolute;
  left: -20px;
  background-color: var(--lavender)
}

/* DESIGN TOKENS */
@import "design-tokens/_media-queries.css";



/* UTILITIES */
@import "utilities/swiper.min.css";
@import "utilities/bootstrap-grid.min.css";
@import "utilities/bootstrap.min.css";
@import "utilities/ui-elements.css";
@import "utilities/vue-material.min.css";